* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgb(190, 15, 15) 0%, rgb(220, 78, 78) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.todo-container {
    background-color: white;
    margin: 25px;
    width: 350px;
    text-align: center;
}

.tesk-container {
    background-color: white;
    width: 350px;
    padding: 30px;

}

h1 {
    color: white;
    font-size: 24px;
    border-radius: 5px;
}

.input-container {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    width: 180px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

#addBtn {
    padding: 0px;
    border: none;
    color: #4d90fe;
    background-color: white;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.tesk-container {
    position: relative;
}

#todo-list {
    margin: 20px;
}

#clear-tesk {
    position: absolute;
    bottom: 5px;
    right: 40px;    
    padding: 10px;
    border: none;
    color: #fd0000;
    background-color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;

}

button:hover {
    background-color: #4d90fe;
    color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid rgb(14, 92, 250);
}

.delete {
    color: red;
    cursor: pointer;
}

.task {
    flex: 1;
    margin-left: 10px;
  }
  
  .task.completed {
    text-decoration: line-through;
    color: red;
  }
  
  #clear-tasks {
    margin-top: 20px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
  }