* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, rgba(190, 15, 15, 0.577) 0%, rgba(55, 82, 218, 0.583) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
/* ///////////////////////////////////////////////// */

.header-container {
    margin-top: 5em;
}

h1 {
    color: white;
    font-size: 40px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}
/* ///////////////////////////////////////////////// */
.todo-container {
    background-color: white;
    margin: 25px;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

.input-container {
    margin: 15px;
    position: relative;
}

#addBtn {
    padding: 0px;
    border: none;
    color: #4d90fe;
    background-color: white;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 15%;
}
/* ///////////////////////////////////////////////// */
.tesk-container {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 10px;
    
}

#todo-list {
    margin: 20px;
}

input[type="text"] {
    display: flex;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 35px;
}
/* ///////////////////////////////////////////////// */

.tesk-container {
    position: relative;
}

#clear-tesk {
    position: absolute;
    bottom: 5px;
    right: 40px;    
    padding: 10px;
    border: none;
    color: #fd0000;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid rgb(14, 92, 250);
    font-size: 25px;
}
  
.task.completed {
    text-decoration: line-through;
color: red;
}
  
#clear-tasks {
    margin-top: 20px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}
/* ///////////////////////////////////////////////// */

.explanationList {
    
    border-radius: 20px;
    color: #0b3a6e; 
    background-color: #f8f9fa; 
    border: 1px solid #ccc; 
    margin: 20px 0; 
    padding: 15px; 
    font-weight: 700;
}

.explanationList li {
    margin-bottom: 10px; 
}

.explanationList li:hover {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.577) 0%, rgba(0, 42, 255, 0.583) 100%);
    color: white;
    border-radius: 5px;
}